@CHARSET "ISO-8859-1";

.Wid15 {
	width: 15%;
}

.Wid25 {
	width: 25%;
}

/* -----------
   Reset css
-------------- */
#layout-portlets-cover {
	margin-bottom: 35px !important;
}

/* !important signifie que ce style passe par dessus le style de primefaces */
.form-actions-general {
	position: fixed;
	right: 0;
	bottom: 0;
	margin-top: 4px;
	line-height: 35px !important;
}

.output_display {
	background: #f6f7f9 none repeat scroll 0 0 !important;
	border: 1px solid #aed0ea;
	border-radius: 0 !important;
	box-shadow: none !important;
	margin: 0;
	/* 	display: block; */
	display: inherit;
	padding: 4px;
	height: 18px;
	margin: 0 0 10px;
	color: grey;
}

.ui-outputlabel {
	display: inline-block !important;
	margin-top: 8px !important;
}

.link_subheader {
	color: #546e7a !important;
	font-family: robotolight;
}

.link_subheader:hover {
	text-decoration: underline !important;
}

.ui-breadcrumb {
	background-color: transparent;
	border: none !important;
}

.ui-breadcrumb ul li .ui-menuitem-link:hover {
	text-decoration: underline !important;
	color: #546e7a !important;
}

.ui-menu-custom .ui-menuitem .ui-menuitem-link {
	font-size: 14px !important;
	padding: 8px 0 !important;
}

.ui-menu-custom .ui-menu-list .ui-widget-header {
	/* 	border-bottom: 1px solid #cee4fc!important; */
	/* 	border-left: 1px solid #cee4fc!important; */
	/* 	color: #0288d1!important; */
	/* 	background-color: transparent!important; */
	
}

.ui-toggleswitch {
	position: relative;
	vertical-align: bottom;
	display: inline-block;
	width: 60px;
	height: 28px;
}

.ui-toggleswitch-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #0da8f2;
	-webkit-transition: .4s;
	transition: .4s;
}

.ui-toggleswitch-slider:before {
	position: absolute;
	content: "";
	height: 23px;
	width: 26px;
	left: 4px;
	bottom: 3px;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.ui-panel-titlebar {
	text-align: center !important;
}

.icon_recherche {
	width: 110px !important;
	position: absolute !important;
	left: -50px !important;
}

.icon_recherche:hover {
	left: -15px !important;
	z-index: 99999 !important;
	/* 	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.3)!important; */
}

input[readonly="readonly"] {
	/* 	color: #1783f7 !important; */
	/* 	opacity: 0.5 !important; */
	color: #989898 !important;
	opacity: 1 !important;
	/* 	background: none !important; */
	/* 	background: rgba(206, 226, 245, 0.21) !important; */
	/* 	rgba(43, 197, 248, 0.08) !important */
	background: rgba(140, 196, 249, 0.38) !important;
	box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.3);
}

input[readonly="readonly"]:hover {
	/* 	color: #1783f7 !important; */
	/* 	opacity: 0.5 !important; */
	color: #989898 !important;
	opacity: 1 !important;
	/* 		background: none !important; */
	background: rgba(140, 196, 249, 0.38) !important;
}

input:focus {
	/* 	color: #1783f7 !important; */
	/* 	opacity: 0.5 !important; */
	color: #989898 !important;
	opacity: 1 !important;
	/* 	background: none !important; */
	/* 	background: rgba(140, 196, 249, 0.38) !important; */
	/* 	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3); */
}

input[readonly="readonly"]:focus {
	/* 	color: #1783f7 !important; */
	/* 	opacity: 0.5 !important; */
	color: #989898 !important;
	opacity: 1 !important;
	/* 	background: none !important; */
	background: rgba(140, 196, 249, 0.38) !important;
}

.outputtext_style {
	/* 	color: #1783f7 !important; */
	/* 	opacity: 0.5 !important; */
	/* 	inline-block */
	display: inherit !important;
	color: #989898 !important;
	opacity: 1 !important;
	/* 	background: none !important; */
	/* 	background: rgba(206, 226, 245, 0.21) !important; */
	/* 	rgba(43, 197, 248, 0.08) !important */
	background: rgba(140, 196, 249, 0.38) !important;
	box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.3);
	color: #546e7a;
	font-size: 16px;
	font-family: 'robotoregular' !important;
	padding: 9px 10px !important;
	border: solid 0px #c6d6df;
	border-bottom: solid 1px #b0bec5;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: #f5f5f5;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

.outputtext_style_empty {
	height: 22px !important;
	background: white none repeat scroll 0% 0% !important;
	box-shadow: none !important;
}

textarea[readonly="readonly"] {
	/* 	color: #1783f7 !important; */
	/* 	opacity: 0.5 !important; */
	color: #989898 !important;
	opacity: 1 !important;
	/* 	background: none !important; */
	/* 	background: rgba(206, 226, 245, 0.21) !important; */
	/* 	rgba(43, 197, 248, 0.08) !important */
	background: rgba(140, 196, 249, 0.38) !important;
	box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.3);
}

.ui-selectonemenu.ui-state-disabled .ui-selectonemenu-trigger,
	.ui-selectonemenu.ui-state-disabled .ui-selectonemenu-label {
	/* 	color: #1783f7 !important; */
	/* 	background: none !important; */
	color: #989898 !important;
	opacity: 1 !important;
	/* 	background: none !important; */
	background: rgba(140, 196, 249, 0.38) !important;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled,
	.ui-widget-header .ui-state-disabled {
	/* 	color: #1783f7 !important; */
	color: #989898 !important;
	opacity: 1 !important;
	background: none !important;
	/* 	background: rgba(140, 196, 249, 0.38) !important; */
	/* 	box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.3); */
}

#form_recherche input {
	border-color: #ffcc80 !important;
}

/* #form_recherche button { */
/* 	margin-top: -43px !important; */
/* } */
.ui-menuitem-link.ui-corner-all.ui-state-disabled .ui-menuitem-text {
	color: #546e7a !important
}

.flex-list .ui-messages-error.ui-corner-all {
	position: relative;
	margin: 1em;
	overflow: hidden;
}

.flex-list .ui-messages-error.ui-corner-all ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: -1px;
}

.flex-list .ui-messages-error.ui-corner-all li {
	flex-grow: 1;
	flex-basis: auto;
	margin: .25em 0;
	padding: 0 1em;
	border-left: 1px solid #ccc;
	background-color: #fff;
}

.styleColumHidden {
	visibility: hidden !important;
}

/* .ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all{ */
/* 	height: 100% !important; */
/* } */

/* .ui-tabs.ui-tabs-top > .ui-tabs-nav li { */
/* 	width: 300px !important; */
/* } */
.backgroundGridLabel {
	background-color: #daf2fe;
}

.backgroundGridData {
	
}

.ui-tabs-top .ui-tabs-nav li.ui-tabs-selected, .ui-tabs-top .ui-tabs-nav li.ui-tabs-active,
	.ui-tabs-top .ui-tabs-nav li.ui-state-hover {
	margin-top: -2px !important;
}

.ui-wizard .ui-wizard-step-titles li {
	background-color: #95d4f6 !important;
	font-size: 12px;
}

.ui-wizard .ui-wizard-step-titles li.ui-state-highlight {
	font-size: 14px !important;
	background-color: #29a1ec !important;
}

.ui-lightbox-content {
	background-color: white !important;
	padding: 10px !important;
}

.ui-blockui-content {
	padding: 0 !important;
	box-shadow: none !important;
}

.ui-blockui {
	background: none ! important;
}

.autocomplete-emptyMessage-hidden {
	display: none !important;
}

.ui-message-icon-only {
	display: inline-block !important;
	vertical-align: top !important;
}

.ui-tooltip {
	background: none !important;
}

.ui-tooltip.ui-state-error .ui-tooltip-text {
	background: #E53935 !important;
}

.ui-selectonemenu {
	margin-top: 5px !important;
}

.ui-tabs-panels-custom .ui-tabs-panels {
	height: 100% !important;
	float: right !important;
}

.ui-tabs-nav-custom .ui-tabs-nav {
	float: left !important;
	height: 100% !important;
}

.ui-state-active .ui-icon-close {
	background-image:
		url("#{resource['modena-layout:images/delete-soft-blue.svg']}")
		!important;
}

.ui-state-hover .ui-icon-close {
	background-image:
		url("#{resource['modena-layout:images/delete-red.svg']}") !important;
}

.rdv_style {
	background: #a7f0ff !important;
}

.new_notif {
	background: rgb(208, 228, 239) !important;
}

#top_menu_notification {
	width: 400px !important;
	margin: 12px 0px 0px -250px !important;
}

.ui-state-disabled .ui-chkbox-label {
	color: #989898 !important;
}

.PosAbsolute {
	margin-left: -22px !important;
	margin-top: -19px !important;
}

.row_exception {
	background-color: #ffbcbc !important;
}

.row_warning {
	background-color: #fff4bb !important;
}

.row_new {
	background-color: #bbfffd !important;
}

.row_update {
	background-color: #bbffc6 ! important;
}

.panel_favoris_titlebar .ui-panel-titlebar {
	background-color: #8fc8ff !important;
}