<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>

	<composite:attribute name="validatorType" default="" />

</composite:interface>

<composite:implementation>

	<!-- z-index: 99999 -->

	<div id="#{cc.clientId}">

		<p:messages id="messages_validation" autoUpdate="false"
			closable="true"
			style="position: fixed; z-index: 999;border-radius: 5px;background-color: rgba(212, 212, 212, 0.39); padding-left: 10px; padding-right: 10px; right: 0px;"
			showDetail="true" rendered="#{!facesContext.validationFailed}" />
		<p:messages id="messages" autoUpdate="false" closable="true"
			style="position: fixed; z-index: 999; border-radius: 5px;background-color: rgba(212, 212, 212, 0.39); padding-left: 10px; padding-right: 10px; right: 0px;"
			styleClass="flex-list #{cc.attrs.validatorType}" showDetail="false"
			rendered="#{facesContext.validationFailed}" />

	</div>

</composite:implementation>

</html>
