<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/modena">

	<div class="Animated05" id="layout-menu-cover">
		<h:form id="menuform">

			<pm:menu>
				<p:menuitem id="rm_dashboard" value="Accueil" icon="icon-dvr"
					outcome="ACCUEIL" />

				<!-- 				<p:menuitem id="rm_test_global" value="Test Global" -->
				<!-- 					icon="icon-signal" outcome="TEST_GLOBAL_APPLICATION" -->
				<!-- 					rendered="#{p:ifAnyGranted('ADMI')}" /> -->

				<!-- 				<p:menuitem id="rm_conf" value="Configuration" icon="icon-cog" -->
				<!-- 					outcome="CONFIGURATION" -->
				<!-- 					rendered="#{p:ifAnyGranted('ROLE_ADMINISTRATOR')}" /> -->


				<p:menuitem id="rm_moduleInscription" value="Module Inscription"
					icon="icon-archive" outcome="INDEX_INSCRIPTION"
					rendered="#{p:ifAnyGranted('ADMI, TOURN')}" />

<!-- 				<p:menuitem id="rm_club" value="Le club" icon="icon-layers2" -->
<!-- 					outcome="INDEX_CLUB" rendered="#{p:ifAnyGranted('ADMI, JOU')}" /> -->

				<p:menuitem id="rm_mention" value="Mentions légales"
					icon="icon-contacts" outcome="MENTIONS"
					rendered="#{p:ifAnyGranted('ADMI, JOU')}" />




				<!-- 				<p:menuitem id="rm_simulateur" value="Simulateur de points" -->
				<!-- 					icon="fa fa-edit" rendered="#{p:ifAnyGranted('ADMI')}" /> -->



				<p:separator />
			</pm:menu>
		</h:form>

	</div>

</ui:composition>